.tweet
  a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="#{title}" data-url="#{url}" data-show-count="false"
    | ついったーにリンクを共有
  script {async src="https://platform.twitter.com/widgets.js" charset="utf-8"}