/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$gray1: #efefef;
$gray2: #a0a0a0;
$gray3: #c0c0c0;
$black: #333333;
$main: #80569c;
$accent: #58c175;
$up: #4a4ae4;
$down: #e44e66;


body{
  max-width: 800px;
  margin: 0px auto;
  border-left: 1px solid $gray2;
  border-right: 1px solid $gray2;
  padding: 0% 1% 10% 1%;
  color: $black;
  a{
    color: $main;
    text-decoration: underline;
    &:hover{
      filter: brightness(120%);
    }
    &:visited{
      color: $main;
    }
  }
}

b{
  font-weight: bold;
}

h1{
  font-size: 2.5em;
  margin: 1% 0% 1% 0%;
  border-bottom: 1px solid $main;
}

h2{
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 5px;
  border-left: 10px solid $gray2;
  border-bottom: 1px solid $gray2;
  padding-left: 10px;
  width: 80%;
}

h3{
  font-size: 1.2em;
  margin-top: 20px;
  margin-bottom: 5px;
  border-left: 10px solid $gray2;
  padding-left: 10px;
  width: 80%;
}

header{
  width: 100%;
  .header_image{
    width: 100%;
  }
  .header_menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .item{
      margin: 0px 10px 0px 10px;
      padding: 5px 10px 5px 10px;
      border-left: 10px solid $gray2;
      border-bottom: 1px solid $gray2;
    }
  }
}

.top_illust{
  width: 80%;
}

.character{
  width: 48px;
  height: 48px;
  margin: 2px;
}

.item_box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item_with_amount{
  position: relative;
  margin: 5px;
  width: 128px;
  height: 64px;
  display: flex;
  flex-direction: row;
  .amount{
    width: 64px;
    height: 64px;
    display: flex;
    align-items: flex-end;
  }
}

.item_partial{
  position: relative;
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 2px;
  .text{
    font-size: 8px;
    background-color: $gray1;
    color: $black;
    z-index: 100;
    border-radius: 3px;
    padding: 0px 1px 0px 1px;
  }
  .name{
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .id{
    position: absolute;
    bottom: 0px;
    left: 0px;
  }
  .is_material{
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
  .image{
    width: 64px;
    height: 64px;
    z-index: 10;
  }
  .null_image{
    width: 64px;
    height: 64px;
    z-index: 10;
    background-color: $accent;
  }
}

.item_image_mini{
  width: 32px;
  height: 32px;
}

.parameters{
  .parameter{
    .name{
      display: inline-block;
      width: 200px;
    }
    .value{
      display: inline-block;
      width: 100px;
    }
  }
}


.parameter_diff_box{
  display: flex;
  width: 80%;
  .parameter_diffs{
    width: 40%;
    .positive{
      color: $up;
    }
    .negative{
      color: $down;
    }
    .header{
      border-bottom: 1px solid $gray3;
    }
    .parameter_diff{
      .name{
        width: 50%;
        display: inline-block;
      }
      .value{
        font-weight: bold;
        width: 50%;
        display: inline-block;
      }
    }
  }
}

.tweet{
  margin-top: 20px;
}

.clickable_item{
  border: 2px solid transparent;
}
.selected{
  border: 2px solid $accent;
}